.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin-top: calc(var(--h3-size) + (var(--xsmall-gap) * 4) + var(--large-gap));
}

.App-content {
  max-width: var(--max-width);
}

@media (max-width: 768px) {
  .App {
    margin-top: calc(var(--h3-size) + (var(--xsmall-gap) * 4));
  }

  .App-content {
    padding: var(--small-gap);
  }
}