.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: var(--button-border-radius);
    background: var(--white-color);
    box-shadow: var(--box-shadow);
    gap: var(--xsmall-gap);
    padding: var(--small-gap);
    border: none;
    cursor: pointer;
    width: 60%;
}

.button-icon { 
    color: var(--orange-color);
}

@media (max-width: 768px) {
    .button {
        width: 100%;
        box-sizing: border-box;
    }
}