.daily-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - (var(--small-gap) * 2));
    flex: 1;
}

.daily-page-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--small-gap);
}

@media (max-width: 768px) {
    .daily-page {
        width: 100%
    }

    .daily-page-card {
        align-items: flex-start;
    }
}