.grid {
    display: flex;
    gap: var(--grid-day-gap);
}
  
.grid-week {
    display: flex;
    flex-direction: column;
    gap: var(--grid-day-gap);
}
  
.grid-day {
    width: calc((((100vw - 80px) - 78px) / 26));
    max-width: 23px;
    aspect-ratio: 1 / 1;
    border-radius: calc(2px + 0.1vmax);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box; /* Add this line */
}
  
.grid-day.empty {
    background-color: var(--feint-color);
}
  
.grid-day.filled {
    background-color: var(--orange-color);
}

.grid-day.current-day {
    border: 3px solid #06D001;
}

@media (max-width: 768px) { 
    .grid-day.current-day {
        border: 1.5px solid #06D001;
    }
}