:root {

  --text-color: #46270D;
  --light-text-color: #99806D;
  --super-light-text-color: #c7b5a8;
  --offwhite-color: #F6F0EB;
  --white-color: #FBF7F4;
  --feint-color: #e9ddd4;
  --glow-color: #F2DBC8;
  --orange-color: #EE9E61;
  --light-green-color: #D1E7D4;
  --green-color: #008000;
  --light-red-color: #F5D6D6;
  --red-color: #FF0000;
  --blur-color: rgba(246, 240, 235, 0.8);

  --blur-radius: blur(10px);

  --xxlarge-gap: 150px;
  --xlarge-gap: 100px;
  --large-gap: 60px;
  --medium-gap: 30px;
  --small-gap: 20px;
  --xsmall-gap: 10px;
  --xxsmall-gap: 5px;

  --h1-size: calc(18px + 2vmax);
  --h2-size: calc(15px + 2vmax);
  --h3-size: calc(13px + 0.8vmax);
  --p-size: calc(10px + 0.8vmax);
  --sp-size: calc(10px + 0.5vmax);

  --max-width: 768px;

  --top-border-radius: calc(10px + 1vmax) calc(10px + 1vmax) 0 0;
  --bottom-border-radius: 0 0 calc(10px + 1vmax) calc(10px + 1vmax);
  --border-radius: calc(10px + 1vmax);
  --button-border-radius: 100px;
  --grid-border-radius: calc(2px + 0.1vmax);
  --panel-border-radius: calc(12px + 1vmax);
  --checkbox-border-radius: calc(7px + 0.1vmax);

  --grid-day-gap: 2.5px;
  --grid-day-width: 23px;

  --weeks: 26;
  --days: 7;

  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  
  --navbar-height: calc(var(--h3-size) + (var(--xsmall-gap) * 4));
}

html,body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;

  min-height: 100vh;
  min-height: -webkit-fill-available;

  background: radial-gradient(circle, var(--glow-color, #F2DBC8), var(--white-color, #FBF7F4));

  margin: 0px;
}

code {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: var(--h1-size);
  line-height: 1.5em;
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  padding: 0;
  margin: 0;
  color: var(--text-color);
}

h2 {
  font-size: var(--h2-size);
  line-height: 1.5em;
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  padding: 0;
  margin: 0;
  color: var(--text-color);
}

h3 {
  font-size: var(--h3-size);
  line-height: 1.5em;
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  padding: 0;
  margin: 0;
  color: var(--light-text-color);
}

p {
  font-size: var(--p-size);
  line-height: 1.5em;
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  padding: 0;
  margin: 0;
  color: var(--light-text-color);
}

.gradient-text {
  color: transparent;
  background-image: linear-gradient(45deg, var(--orange-color), var(--text-color));
  --webkit-background-clip: text;
  background-clip: text;
  font-weight: bold;
}

.orange-button {
  border-radius: var(--button-border-radius);
  border: none;
  background: var(--orange-color, #EE9E61);
  box-shadow: 0px 10px 20px 0px rgba(238, 158, 97, 0.20);
  font-size: var(--sp-size);
  font-family: 'Poppins', sans-serif;
  color: var(--white-color);
  font-weight: normal;
  padding: var(--xsmall-gap) var(--small-gap);
}