.checkbox {
    appearance: none;
    padding: var(--xsmall-gap); /* Add padding around the content */
    background-color: var(--white-color);
    border: 2px solid var(--feint-color);
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }
  
  .checkbox::after {
    content: '\eef0'; /* Unicode for unchecked state */
    font-family: 'remixicon';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--feint-color); /* Default color for unchecked state */
    font-size: var(--h3-size); /* Use your existing size variable */
  }
  
  .checkbox:checked {
    background-color: var(--orange-color);
    border-color: var(--orange-color);
  }
  
  .checkbox:checked::after {
    content: '\eeee'; /* Unicode for checked state */
    color: var(--white-color); /* Color for checked state */
  }