.checkbox {
    appearance: none;
    padding: var(--xsmall-gap);
    background-color: var(--light-red-color);
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }
  
  .checkbox::after {
    content: '\eef0';
    font-family: 'remixicon';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--red-color);
    font-size: var(--h3-size);
  }
  
  .checkbox:checked {
    background-color: var(--light-green-color);
    border-color: var(--light-green-color);
  }
  
  .checkbox:checked::after {
    content: '\eeee';
    color: var(--green-color);
  }