.checkbox {
    appearance: none;
    padding: var(--small-gap);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-red-color);
    border-radius: var(--checkbox-border-radius);
    cursor: pointer;
  }
  
  .checkbox::after {
    content: '\eef0';
    font-family: 'remixicon';
    color: var(--red-color);
    font-size: var(--h3-size);
  }
  
  .checkbox:checked {
    background-color: var(--light-green-color);
    border-color: var(--light-green-color);
  }
  
  .checkbox:checked::after {
    content: '\eeee';
    color: var(--green-color);
  }