.panel-card {
    border-radius: var(--panel-border-radius);
    border: 2px solid white;
    backdrop-filter: var(--blur-radius);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background: transparent;
    width: 100%;
}

.panel-card-vertical-header {
    display: flex;
    background: var(--blur-color);
    backdrop-filter: var(--blur-radius);
    width: 100%;
    box-sizing: border-box;
    flex-direction: column;
    border-radius: var(--top-border-radius);
    gap: var(--xsmall-gap);
    padding: var(--medium-gap);
}

.panel-card-horizontal-header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: var(--blur-color);
    backdrop-filter: var(--blur-radius);
    width: 100%;
    box-sizing: border-box;
    flex-direction: row;
    border-radius: var(--top-border-radius);
    gap: var(--medium-gap);
    padding: var(--small-gap) var(--medium-gap);
}

.panel-card-divider {
    width: 100%;
    height: 2px;
    background: white
}

.panel-card-slit {
    width: 3px;
    height: 80px;
    background: var(--feint-color);
    padding: 0;
    margin: 0;
}

.panel-streak-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--xxsmall-gap);
}

.panel-card-relation {
    display: flex;
    flex-direction: column;
    background: var(--blur-color);
    backdrop-filter: var(--blur-radius);
    width: 100%;
    padding: var(--medium-gap);
    box-sizing: border-box;
    border-radius: var(--bottom-border-radius);
    gap: var(--xsmall-gap);
}

.panel-card-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--blur-color);
    backdrop-filter: var(--blur-radius);
    width: 100%;
    padding: var(--small-gap);
    box-sizing: border-box;
    border-radius: var(--bottom-border-radius);
}

.panel-streak-text p {
    font-size: var(--sp-size);
}