.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100vw - (var(--small-gap) * 2));
    height: calc(100vh - (var(--small-gap) * 2));
    background-color: rgba(0, 0, 0, 0.3); /* dim background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    padding: var(--small-gap);
  }

  .popup-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--xxsmall-gap);
  }
  
  .popup {
    background-color: var(--offwhite-color);
    padding: var(--medium-gap);
    border-radius: var(--panel-border-radius);
    border: 5px solid white;
    box-shadow: var(--box-shadow);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Change to flex-start to allow proper scrolling */
    gap: var(--medium-gap);
    max-width: var(--max-width);
    max-height: 60%; /* Keep this to limit the height */
    overflow-y: auto; /* Allow scrolling */
  }