.progress-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: calc(100% - (var(--small-gap) * 2));
    gap: var(--small-gap);
    flex: 1;
  }

.progress-page-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {

  .progress-page {
    width: 100%;
  }

  .progress-page-header {
    align-items: flex-start;
  }
}