.settings-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: var(--medium-gap);
  flex: 1;
}

.settings-logout-button {
  width: 50%;
  background-color: var(--white-color);
  border-radius: var(--button-border-radius);
  box-shadow: var(--box-shadow);
  border: none;
  padding: var(--xsmall-gap);
  font-size: 16px;
  cursor: pointer;
}

.settings-divider {
  width: 100%;
  height: 3px;
  background-color: var(--feint-color);
  margin: var(--small-gap) 0px;
}

@media (max-width: 768px) {
  .settings-page {
    gap: var(--small-gap)
  }

  .settings-logout-button {
    width: 100%;
  }

  .settings-popup {
    padding: var(--small-gap);
  }
}