.sign-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: calc(100% - (var(--small-gap) * 2));
  gap: var(--medium-gap)
}
.sign-up-content {
  width: 100%;
  border-radius: calc(12px + 1vmax);
  border: 2px solid white;
  background: var(--blur-color);
  backdrop-filter: var(--blur-radius);
  gap: var(--medium-gap);
  padding: var(--large-gap);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}
  
  .sign-up-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--small-gap);
  }
  
  .sign-up-input-field {
    padding: var(--xsmall-gap);
    border: none;
    border-radius: 10px;
    font-size: var(--sp-size);
    color: var(--text-color);
    outline: none;
    background: var(--white-color);
  }

  .sign-up-create-account-button {
    font-size: var(--sp-size);
    cursor: pointer;
  }

  .sign-up-google-button {
    width: 100%;
    background-color: var(--white-color);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    border: none;
    padding: var(--xsmall-gap);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--small-gap);
  }

  .sign-up-button {
    width: 100%;
    background-color: var(--orange-color);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    border: none;
    padding: var(--xsmall-gap);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--small-gap);
  }

  .sign-up-error {
    font-size: var(--sp-size);
    text-align: center;
  }

  @media (max-width: 768px) {
    .sign-up {
      width: 100%;
        padding: var(--small-gap);
    }
  }