.sign-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: calc(100% - (var(--small-gap) * 2));
  gap: var(--medium-gap)
}

.sign-in-content {
    width: 100%;
    border-radius: var(--panel-border-radius);
    border: 2px solid white;
    background: var(--blur-color);
    backdrop-filter: var(--blur-radius);
    gap: var(--medium-gap);
    padding: var(--large-gap) var(--xxlarge-gap);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  
  .sign-in-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: var(--large-gap);
  }

  .sign-in-form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--small-gap);
    width: 100%;
  }
  
  .sign-in-input-field {
    padding: var(--small-gap);
    border: none;
    border-radius: var(--button-border-radius);
    font-size: var(--sp-size);
    color: var(--text-color);
    outline: none;
    background: var(--white-color);
    width: 100%;
    box-sizing: border-box;
  }

  .sign-in-create-account-button {
    font-size: var(--sp-size);
    cursor: pointer;
  }

  .sign-in-google-button {
    width: 100%;
    background-color: var(--white-color);
    border-radius: var(--button-border-radius);
    box-shadow: var(--box-shadow);
    border: none;
    padding: var(--xsmall-gap);
    font-size: 16px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--small-gap);
  }

  .sign-in-button {
    width: 100%;
    background-color: var(--orange-color);
    border-radius: var(--button-border-radius);
    box-shadow: var(--box-shadow);
    border: none;
    padding: var(--xsmall-gap);
    font-size: 16px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--small-gap);
  }

  .sign-in-level-button {
    width: 100%;
    background-color: var(--white-color);
    border-radius: var(--button-border-radius);
    box-shadow: var(--box-shadow);
    border: none;
    padding: var(--xsmall-gap);
    font-size: 16px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--small-gap);
  }

  .sign-in-error {
    font-size: var(--sp-size);
    text-align: center;
  }

  .sign-in-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: var(--small-gap)
  }

  .sign-in-header img {
    width: auto; /* Make the image responsive */
    height: calc(20px + 1vmin); /* Maintain aspect ratio */
}

  @media (max-width: 768px) {
    .sign-in {
        width: 100%;
        padding: var(--small-gap);
    }

    .sign-in-content {
      padding: var(--large-gap) var(--medium-gap);
    }
  }
